<div class="palm-row">
  <div class="palm-row-wrapper">
    <div>
      <span class="subject">#{subject}</span><a href="#{url}" class="title">#{title}
    </div>
    <div>
      <span class="head">from <span class="author"> via <span>#{subreddit}</span> sent #{time_elapsed} ago
    </div>
    <div class="parent-link">show parent</div>
    <div>#{body_html}</div>
    <div>
      <span class="bylink">context</span><span class="bylink">mark as unread</span><span class="bylink">reply</span>
    </div>
  </div>
</div>