<div class="palm-row">
  <div class="palm-row-wrapper">
    <div class="fancy-toggle-button option">
      <span class="active #{subscribe_action}">#{subscribed_ind} frontpage</span>
      <span class="subreddit-title">#{title}</span><span class="domain">(#{url})</span><strong class="#{nsfw}">NSFW</strong>
    </div>
    <div class="subreddit-desc-button">Description</div>
    <div class="subreddit-desc #{desc_status}">#{description}</div>
    <div style="padding-bottom: 4px">
      <span class="domain">#{subscribers} subscribers, a community for #{community_exist}</span>
    </div>
  </div>
</div>