<!--<div class="palm-hasheader">-->
  <div class="palm-page-header">
    <div class="palm-page-header-wrapper">
      <div id="header-title" class="icon"></div>
      <div class="title">Preddit</div>
    </div>
  </div>
<!--  <div class="palm-header-spacer"></div>-->
  <div id="article_info">
    <div class="article-detail">
      <div class="link midcol unvoted" id="article_vote_box">
        <div class="arrow up" id="article_vote_up"></div>
        <div class="score dislikes" id="article_score_dislikes"></div>
        <div class="score unvoted" id="article_score_unvoted"></div>
        <div class="score likes" id="article_score_likes"></div>
        <div class="arrow down" id="article_vote_down"></div>
      </div>
      <div class="article-vertical-spacer"></div>
      <img id="article_thumbnail"></img>
      <span id="article_text" class="article-text"></span>
    </div>
    <div id="selftext-html-box" class="usertext-body">
      <div id="selftext-html" class="md"></div>
    </div>
    <div id="reply_action_area"></div>
    <div><div id="detail1" class="sub-detail"></div><div id="save-button" class="save-button"></div></div>
    <div id="detail2" class="sub-detail"></div>
    <div id="detail3" class="sub-detail"></div>
  </div>
  <div id="comments-list" x-mojo-element="List">
  </div>
  <div class="palm-scrim" id="scrim_spinner">
    <div id="wait_spinner" x-mojo-element="Spinner"></div>
  </div>
<!--</div>-->

